body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color:000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ur, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    
    background: url("header-bg.jpg") no-repeat center top / cover; 
    padding-bottom: 500px;
}

header a {
    color: white;
}

.menu {
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size:14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
}

.logo {
    margin-right: 70px;
}

.tel {
    font-size:17px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.offer {
    color:white;
    text-transform: uppercase;
    padding-top: 216px;
}

.dev {
    font-size:30px;
    letter-spacing: 0.1em;
    margin: 0px;
}

.pname {
    font-size: 100px;
    line-height: 147px;
    font-weight: normal;
    font-style: normal;
}

.book {
    width: 238px;
    height: 57px;
    font-size: 17px;
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    
}

.book-text {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 14px;
    display: block;
    text-decoration: none;
    font-weight:bold;
}

section {
    padding-top: 113px;
}

h2 {
    font-size: 50px;
    margin-bottom: 58px;
}

.description {
    font-size: 25px;
    margin-top: 0;
    display: flex;
    margin-bottom: 58px;
}


.desc-left, .desc-right {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 567px;
    font-weight: 400;
}

.desc-right {
    margin-left: 40px;
}

h3 {
    display: inline-block;
    width: 300px;
    font-size: 25px;
}

.rts {
    margin-right: 300px;
}

.img2 {
    padding-right: 25px;
    width: 625px;
}

.img3 {
    width: 515px;
}

.foot {
    display: flex;
    padding-left: 0;
    
}

.footer {
    margin-top: 114px;
}

.foot li a {
    width: 245px;
    margin-right: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}